<%- include('../partials/header'); %>

<main class="main" id="main">
    <h2> All the Episodes that you need to watch. The rest are questionable.</h2>
    <section class="section" id="section">
        <% episodes.forEach(episode => { %>
            <div>
                <h3><%= episode.title %></h3>
                <ul>
                    <li>Season - Episode: <%= episode.number %></li>
                    <li>Writers: <%= episode.writers %></li>
                    <li>Original Air Date:<%= episode.originalAirDate %></li>
                </ul>
                <p>Description: <%= episode.desc %></p>
            </div>
        
        <% }) %>
    </section>
</main>

<%- include('../partials/footer'); %>