<%- include('../partials/header') %>

<main class="main" id="main">
    <h2>Episodes</h2>    
    <div>
        <ul>
            <li>Number: <%= data.number %></li>
            <li>title: "<%= data.title %>"</li>
            <li>Writers: <%= data.writers %></li>
            <li>Original Air Date: <%= data.originalAirDate %></li>
            <li>Episode Description: <%= data.desc %></li>
        </ul>
    </div>
</main>

<%- include('../partials/footer') %>